# O nome do arquivo precisa ser .env
# Token do bot (Discord Developer Portal)
DISCORD_TOKEN=seu_token_aqui

# ID do canal onde os alertas serão enviados
ALERT_CHANNEL_ID=1

# Chave da API Football (api-football.com)
FOOTBALL_API_KEY=sua_chave_aqui
